---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class="container">
        <h1>404</h1>
        <p>Page not found</p>
    </div>
</Layout>


<style>
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        /* background-color: #111827; */
        /* color: #fff; */
        font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
    }
</style>